body {
    font-family: Arial, sans-serif;
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label, select, input[type="number"] {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: inline;
    margin-right: 10px;
}

select, input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.container {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 20px;
    /* max-width: 800px; */
    margin: 0 auto;
}

.form, .results {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results {
    text-align: right;
}
